.slides {
  position: relative;
  grid-column: center-start / center-end;
  grid-row: 6 / 7;
  transition: $section-transition;
  @include respond(phone) {
    padding-block-start: 5rem;
  }
}

.slider {
  padding: 5vw;
  position: absolute;
  top: 0;
  width: 100%;
  height: 60rem;
  transition: all 1s;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  column-gap: $grid-column-gap-sm;
  @include respond(phone) {
    padding: 12vw 18vw 12vw 18vw;
  }
  &-container {
    position: relative;
    max-width: 100rem;
    height: 60rem;
    overflow: hidden;
    margin: 0 auto;
  }

  &__context {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: $grid-row-gap-sm;
    @include respond(tb-pt) {
      align-items: center;
    }
  }
  &__img {
    transition: all 0.8s;
    max-width: 100%;
    height: 100%;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3.5rem;
    height: 6rem;
    width: 6rem;
    background: none;
    border: none;
    background-color: rgba($color-gray-dark-3, 0.1);
    color: $color-primary;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 1rem 1.5rem rgba($color-black, 0.25);
    &:hover {
      background-color: rgba($color-gray-dark-3, 0.25);
    }

    &--right {
      right: 2%;
    }

    &--left {
      left: 2%;
    }
    &--main span {
      margin-left: 0.5rem;
    }
  }
}
